/* ------- CSS for Navigation Buttons ------- */

#main_header {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6d0019+18,8f0222+39,e2e2e2+84 */
  background: linear-gradient(to bottom,  #6d0019 18%,#8f0222 39%,#e2e2e2 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 45px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 99999;
}

#nav_buttons ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

#nav_buttons ul li {
  display: inline-block;
}

#nav_buttons ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    background-color: red;
    color: black;
}

#nav_ul li a:hover {
  background-color: #300;
  color: yellow;
  border-radius: 20px;
}

#page_wrapper {
  background-color: rgb(211, 212, 232);
  max-width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

#content_wrapper{
 
}

/* 
#nav_buttons {
  background-color: yellow;
  top: 65px;
  margin-bottom: auto;
  position: relative;
  overflow: auto;
  padding: 10px 0;
}



#nav_buttons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}



.container {
  margin: auto;
  padding-top: 0;
  overflow: auto;
  width: 75%;
  position: absolute;
  text-align: center;
  margin-bottom: 50px;
}
  
#nav_buttons ul li {
  float: left;
  margin: 1px 25px;
  position: relative;
  display: block;
  text-align: center;
}

#nav_ul li a {
  display: block;
  background-color: red;
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: 100px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  clear: left;
}

#nav_ul li a:hover {
  background-color: #300;
  color: yellow;
  border-radius: 20px;
}
 

/* ------- CSS for Resume Page ------- */

#index_body {
  position: relative;
  background-image: url("../images/chainsawman_rzf.jpg");
}


/*
#title {
  position: relative;
  top: 60px;
}

#contact_info {
  background-color: gray;
  margin-top: 50px;
}

#education_info {

}

#skills_info {

}

#projects_info {

}

#work_info {

}

/* ------- CSS for PC Page -------- */

#pcbuilds_body {

}

#mybuild {

}

#secondpc_build {

}

#dark_knight {

}

#cherry_pc {

}

#footer {

}

/* ------- CSS for Anime Page ------ */

#anime_body {

}